version: "3.8"

services:
  s3:
    image: minio/minio
    networks:
      faynosync_network:
        ipv4_address: 172.25.0.2
    container_name: "faynoSync_s3"
    ports:
      - "9011:9001"
      - "9010:9000"
    volumes:
      - data-s3:/data
    environment:
      MINIO_ROOT_USER: MdnaDEXKy9nOc4beIvNcgy
      MINIO_ROOT_PASSWORD: BjjctVsoSg4FKkT81VKt18
    command: server --address 0.0.0.0:9000 --console-address :9001 /data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 30s
      timeout: 20s
      retries: 3
    env_file:
      - ../envs/backend.env

  s3-service:
    image: minio/mc
    networks:
      faynosync_network:
        ipv4_address: 172.25.0.3
    container_name: "faynoSync_s3_service"
    depends_on:
      s3:
        condition: service_healthy
    restart: on-failure
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set faynoSync http://s3:9000 MdnaDEXKy9nOc4beIvNcgy BjjctVsoSg4FKkT81VKt18;
      /usr/bin/mc mb faynoSync/cb-faynosync-s3;
      /usr/bin/mc policy set public faynoSync/cb-faynosync-s3;
      "
    env_file:
      - ../envs/backend.env