name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  unit-tests:
    name: Go unit tests (TUF)
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Run unit tests
        run: |
          go test ./server/tuf/... -race
        continue-on-error: false

  integration-tests:
    name: Docker Compose integration tests
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Install Docker Compose
        run: |
          mkdir -p ~/.docker/cli-plugins/
          curl -SL https://github.com/docker/compose/releases/download/v2.3.3/docker-compose-linux-x86_64 -o ~/.docker/cli-plugins/docker-compose
          chmod +x ~/.docker/cli-plugins/docker-compose
          docker compose version

      - name: Build and Start Services
        run: docker compose up --build -d

      - name: Run Tests
        run: docker compose exec -T backend "/usr/bin/faynoSync_tests" -test.skip "TestCheckVersionWithUpdaters"
        continue-on-error: false

      - name: Stop Services
        if: always()
        run: docker compose down
